<h1>Development</h1>

<ul>
  <li><a href="http://bitbucket.org/dmajda/pegjs/src/">Source code</a></li>
  <li><a href="http://bitbucket.org/dmajda/pegjs/issues/">Issue tracker</a></li>
  <li><a href="http://groups.google.com/group/pegjs">Google Group</a></li>
</ul>

<p>PEG.js is still very much work in progress. Until version 1.0 there may be
incompatible changes in the grammar format, generated parser usage, etc.</p>

<p>If you have any suggestion, file a new issue in the tracker or send it to the
discussion group. If you want to contribute code, just fork the project on
BitBucket or send an e-mail with a patch (in both cases, you should probably get
in touch first).</p>

<h2>Author</h2>

<p>The author of PEG.js is
<a href="http://majda.cz/en">David Majda</a>
(<a href="http://www.linkedin.com/in/dmajda">LinkedIn</a>,
<a href="http://twitter.com/dmajda">Twitter</a>).
You may know me through my other project,
<a href="http://ruby-php.org/">Ruby to PHP compiler</a>.</p>
