<h1>Development</h1>

<ul>
  <li><a href="https://pegjs.majda.cz/">Project website</a></li>
  <li><a href="https://github.com/dmajda/pegjs">Source code</a></li>
  <li><a href="https://github.com/dmajda/pegjs/issues">Issue tracker</a></li>
  <li><a href="http://groups.google.com/group/pegjs">Google Group</a></li>
  <li><a href="http://twitter.com/peg_js">Twitter</a></li>
</ul>

<p>PEG.js is developed by <a href="http://majda.cz/">David Majda</a> (<a
href="http://twitter.com/dmajda">@dmajda</a>). You are welcome to contribute
code. Unless your contribution is really trivial you should get in touch with me
first &mdash; this can prevent wasted effort on both sides. You can send code
both as a patch or a GitHub pull request.</p>

<p>Note that PEG.js is still very much work in progress. There are no
compatibility guarantees until version 1.0.</p>
