<h1>Development</h1>

<ul>
  <li><a href="http://bitbucket.org/dmajda/pegjs/src/">Source code</a></li>
  <li><a href="http://bitbucket.org/dmajda/pegjs/issues/">Issue tracker</a></li>
  <li><a href="http://groups.google.com/group/pegjs">Google Group</a></li>
</ul>

<p>PEG.js was written by <a href="http://majda.cz/en">David Majda</a>. If you
have a suggestion, file a new issue in the tracker or send it to the discussion
group.</p>

<p>If you want to contribute code, just fork the project on BitBucket or send an
e-mail with a patch. In both cases, you should probably get in touch first.</p>
