<h1>Download</h1>

<h2 id="full-package">Full Package</h2>

<p>Intended for command-line usage. You can also try <a href="online">online
version</a>.</p>

<ul>
  <li><a href="http://github.com/dmajda/pegjs/tarball/<%= @pegjs_version %>">PEG.js <%= @pegjs_version %></a> (.tar.gz)</li>
  <li><a href="http://github.com/dmajda/pegjs/zipball/<%= @pegjs_version %>">PEG.js <%= @pegjs_version %></a> (ZIP)</li>
</ul>

<h2>Source Code</h2>

<ul>
  <li><a href="http://github.com/dmajda/pegjs">Browse on GitHub</a></li>
</ul>
