<div id="banner">
  <a href="online">Try PEG.js online</a>
  &mdash; or &mdash;
  <a href="download">Download PEG.js for command-line use</a>
</div>

<div id="left-column">
  <p>PEG.js is a parser generator for JavaScript based on the
  <a href="http://en.wikipedia.org/wiki/Parsing_expression_grammar">parsing expression grammar</a>
  formalism.</p>

  <h2>Features</h2>

  <ul>
    <li>Usable
    <a href="online">from your browser</a>
    or
    <a href="documentation#generating-a-parser">from the command-line</a></li>

    <li>Handles wide class of grammars (strict superset of LL(k) and LR(k))</li>

    <li>Generates fast code</li>

    <li>Simple <a href="documentation#grammar">grammar syntax</a></li>

    <li>Very good error reporting</li>
  </ul>
</div>
