<h1>Online Version</h1>

<p>Generate your parser here without downloading the generator itself. Then
<a href="documentation#using-the-generated-parser">use the parser</a>
in your application.</p>

<h2 class="suggestion"><span class="step">1</span>Write your PEG.js grammar</h2>

<div class="textarea-wrapper">
  <textarea id="grammar">/*
 * Classic example grammar, which recognizes simple arithmetic expressions like
 * "2*(3+4)". The parser generated from this grammar then computes their value.
 */

start             : additive

additive          : multiplicative "+" additive { return $1 + $3; }
                  / multiplicative

multiplicative    : primary "*" multiplicative { return $1 * $3; }
                  / primary

primary           : integer
                  / "(" additive ")" { return $2; }

integer "integer" : [0-9]+ { return parseInt($1.join("")); }</textarea>
</div>
<div class="note">The parser will be generated automatically as you type.</div>

<div><a href="#" id="settings-link">Detailed settings &raquo;</a></div>

<div id="settings-container">
  <table class="form" id="settings">
    <tr>
      <th><label for="parser-var">Parser variable:</label></th>
      <td><input type="text" id="parser-var" value="parser"></td>
    </tr>
    <tr>
      <th><label for="start-rule">Start rule:</label></th>
      <td><input type="text" id="start-rule" value="start"></td>
    </tr>
  </table>
</div>

<a id="parser-download" class="disabled" href="#">Download parser</a>

<div id="build-message" class="message disabled">Parsing did not start yet.</div>

<h2 class="suggestion"><span class="step">2</span>Test the generated parser with some input</h2>

<div class="textarea-wrapper">
  <textarea id="input" disabled>2*(3+4)</textarea>
</div>
<div class="note">The input will be processed by the parser automatically as you type.</div>

<div id="parse-message" class="message disabled">Parser not available.</div>

<p>Output:</p>

<div id="output" class="not-available">(no output available)</div>

<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/pegjs/lib/runtime.js"></script>
<script src="/vendor/pegjs/lib/compiler.js"></script>
<script src="/vendor/pegjs/lib/metagrammar.js"></script>
<script src="/vendor/base64/webtoolkit.base64.js"></script>
<script src="/vendor/jsdump/jsDump.js"></script>
<script src="/js/online.js"></script>
