<div id="col-container">
  <div id="columns">
    <div class="column">
      <div class="suggestion">
        <div class="step-number">1</div>
        <div class="step-title">Write your grammar</div>
      </div>
      <div class="area-wrapper col-content">
        <textarea class="code" id="grammar">/*
 * Classic example grammar, which recognizes simple arithmetic expressions like
 * "2*(3+4)". The parser generated from this grammar then computes their value.
 */

start
  = additive

additive
  = left:multiplicative "+" right:additive { return left + right; }
  / multiplicative

multiplicative
  = left:primary "*" right:multiplicative { return left * right; }
  / primary

primary
  = integer
  / "(" additive:additive ")" { return additive; }

integer "integer"
  = digits:[0-9]+ { return parseInt(digits.join(""), 10); }</textarea>
      </div>
    </div>
    <div class="column">
      <div class="suggestions">
        <div class="suggestion half">
          <div class="step-number">2</div>
          <div class="step-title">Test the parser</div>
        </div>
        <div class="suggestion half dl-button">
          <a id="parser-download" href="#">Download parser</a>
        </div>
      </div<>
      <div class="col-content">
        <div id="rows">
          <div class="row">
            <div class="area-wrapper row-content">
              <textarea class="code" id="input">2*(3+4)</textarea>
            </div>
          </div>
          <div class="row">
            <div class="area-wrapper row-content">
              <textarea class="code" id="output">Parser not available.</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/pegjs/peg.js"></script>
<script src="/vendor/base64/webtoolkit.base64.js"></script>
<script src="/vendor/jsdump/jsDump.js"></script>
<script src="/vendor/codemirror/codemirror.js"></script>
<script src="/vendor/codemirror/javascript.js"></script>
<script src="/vendor/codemirror/pegjs.js"></script>
<script src="/vendor/jqsplitter/jquery.splitter.js"></script>
<script src="/js/online.js"></script>
